html, body {
    background: linear-gradient(360deg, rgb(56, 143, 141) 0%, rgb(18, 104, 196) 100%);
    background-size: cover;
}

h1, h2 {
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 5%;
}

canvas {
    margin-bottom: 7.5%;
}

/* Mobile Phones */
@media only screen and (max-width: 900px) {
    h2 {
        font-size: 1.2em;
    }
}

/* Laptops and Desktops */
@media (min-width:1025px) {
    canvas {
        max-width: 80%;
	max-height: auto;
    }	
}

::-moz-selection {
    background-color: transparent;
}

::selection {
    background-color: transparent;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backHome {
    margin-top: 2%;
    margin-left 2%;
    margin-bottom: 5%;
}
