@font-face {
    font-family: "custom1";
    src: url("../font/font1.ttf");
}

.titolo{
    text-align: center;
    margin-top: 60%;
    margin-bottom: 10px;
    color: white;
    font-family: "custom1";
    position: relative;
    z-index: 2;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#domandaSond {
    margin-bottom: 22px;
}

.thing {
    padding: 1rem;
    width: 25em;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    z-index: 1000000;
}

.thing > h3 {
    font-size: 3em;
}

@media only screen and (max-width: 800px) {
    .thing {
        padding: 1rem;
        min-width: 20em !important;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        background-color: #ffffff;
        border-radius: 0.5rem;
    }
}

.thing > :first-child {
    margin-top: 0;
}

.thing > :last-child {
    margin-bottom: 0;
}

.heading {
    color: #fff;
}

::-moz-selection {
    background-color: transparent;
}

::selection {
    background-color: transparent;
}

#form1 {
    display: block;
    color: black !important;
    text-align: left !important;
}

body {
    background: linear-gradient(#3800e7, #8a15ff);
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: "custom1";
    font-weight: 300;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main:before, .main:after {
    content: "";
    display: block;
    position: absolute;
}

.main:before {
    right: 0;
    bottom: -19px;
    height: 30em;
    width: 30em;
    border-radius: 30em;
    background: linear-gradient(#3800e7, #8a15ff);
    align-self: flex-end;
    animation: gradient-fade 8s ease-in-out 3s infinite alternate;
}

.main:after {
    top: 0;
    left: 30px;
    height: 10em;
    width: 10em;
    border-radius: 10em;
    background: linear-gradient(#3800e7, #8a15ff);
    animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
}

.main__text-wrapper {
    position: relative;
    padding: 2em;
}

.main__text-wrapper:before, .main__text-wrapper:after {
    content: "";
    display: block;
    position: absolute;
}

.main__text-wrapper:before {
    z-index: -1;
    top: -3em;
    right: -3em;
    width: 13em;
    height: 13em;
    opacity: 0.7;
    border-radius: 13em;
    background: linear-gradient(#15e0ff, #8a15ff);
    animation: rotation 7s linear infinite;
}

.main__text-wrapper:after {
    z-index: -1;
    bottom: -20em;
    width: 20em;
    height: 20em;
    border-radius: 20em;
    background: linear-gradient(#d000c5, #8a15ff);
    animation: rotation 7s linear infinite;
}

.arrow {
    opacity: 0.5;
    position: absolute;
}

.arrow--top {
    top: 0;
    left: -5em;
}

.arrow--bottom {
    bottom: 0;
    right: 3em;
}
.circle {
    transform: translate(50%, -50%) rotate(0deg);
    transform-origin: center;
}

.circle--ltblue {
    height: 20em;
    width: 20em;
    border-radius: 20em;
    background: linear-gradient(#15e0ff, #3800e7);
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: pink;
}

.dotted-circle {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    animation: rotation 38s linear infinite;
}

.draw-in {
    stroke-dasharray: 1000;
    stroke-dashoffset: 10;
    animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.item-to {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes gradient-fade {
    from {
        transform: translate(10%, -10%) rotate(0deg);
    }
    to {
        transform: translate(50%, -50%) rotate(360deg);
    }
}

@keyframes gradient-fade-alt {
    from {
        transform: translate(-20%, 20%) rotate(0deg);
    }
    to {
        transform: translate(-60%, 60%) rotate(360deg);
    }
}

.bottone > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(45deg, #b41eda 0%,#e67e41 100%); 
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "custom1";
}

.animation {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(45deg, #b41eda 0%,#e67e41 100%); 
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "custom1";
}

.inviaBtn {
    padding: 12px;
    font-size: 1.2em;
    border: 0;
    background: linear-gradient(45deg, #b41eda 0%,#e67e41 100%);
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "custom1";
    margin-left: auto;
    margin-right: auto;
}